{% extends "layout_base.html" %}
{% block body %}
    <v-container>
        <m-table
        :headers="headers"
        :items="items"
        v-model="selected"
        selectable
        ref="table">
        <template slot="items" slot-scope="props">
          <td class="pointer text-xs-left pl-0 o-5">${props.item._id + 1}</td>
          <td class="pointer text-xs-left pl-0">${props.item.title}</td>
          <td class="pointer text-xs-right">
            <m-icon @click="go_next(props.item.id)">more_vert</m-icon>
          </td>
        </template>
      </m-table>
    </v-container>
{% endblock %}
{% block script %}
    <script>
        new Vue({
            mixins: [app],
            data: {
                selected:[],
                items: [
                    {title:'test'},
                    {title:'test'},
                    {title:'test'},
                    {title:'test'},
                    {title:'test'},
                    {title:'test'},
                ],
                headers: [
                    {text: 'No'},
                    {text: 'title'},
                    {text: 'operator'},

                ],
            }
        })
    </script>
{% endblock %}
