{% extends "layout_base.html" %}
{% block body %}
    <v-container fluid>
        <v-card>
            <v-card-title class="title">
                <div class="row between-xs middle-xs fill-width pr-3">
                    <h3>所有員工</h3>
                    <div class="row middle-xs end-xs col-sm-4 col-xs-12">
                        <v-menu
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    label="From Time"
                                    v-model="from_time"
                                    prepend-icon="event"
                                    width="290px"
                                    readonly
                            ></v-text-field>
                            <v-date-picker v-model="from_time" no-title scrollable actions>
                            </v-date-picker>
                        </v-menu>
                        <v-menu
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    label="To Time"
                                    v-model="to_time"
                                    prepend-icon="event"
                                    width="290px"
                                    readonly
                            ></v-text-field>
                            <v-date-picker v-model="to_time" no-title scrollable actions>
                            </v-date-picker>
                        </v-menu>
                        <m-icon ripple
                                @click="init"
                        >search
                        </m-icon>
                    </div>
                </div>
            </v-card-title>
            <v-card-text>
                <m-table
                        :headers="headers"
                        :items="items"
                        v-model="selected"
                        selectable
                        ref="table">
                    <template slot="items" slot-scope="props">

                        <td class="text-xs-left pl-0" >
                            <a :href="props.item.id">${props.item.name}</a>
                        </td>
                        <td class="text-xs-left pl-0">${props.item.work_hours}</td>
                    </template>
                </m-table>
            </v-card-text>
        </v-card>

    </v-container>
{% endblock %}
{% block script %}
    <script>
        new Vue({
            mixins: [app],
            data: {
                from_time: null,
                to_time: null,
                selected: [],
                items: [],
                headers: [
                    {text: 'Name',width:'80%'},
                    {text: 'work hours'},

                ],
            },
            methods: {
                get_work_time(item){
                    let t = 0
                    if (this.to_time !== null && this.from_time !== null) {
                        for (let dates of item.work_dates_instance) {
                            t += dates.work_hours
                        }
                        return t
                    } else {
                        return ''
                    }

                },
                init(){
                    let url = get_url('/users')
                    axios.get(url, {
                        params: {
                            from_time: this.from_time,
                            to_time: this.to_time,
                        }
                    })
                        .then(res => {
                            let items = res.data
                            this.items = []
                            for (let item of items) {
                                item.work_hours = this.get_work_time(item)
                            }
                            this.items = items
                        })
                },
            },
            mounted(){
                this.init()
            }
        })
    </script>
{% endblock %}
