{% extends "layout_base.html" %}
{% block body %}
    <v-container>
                <div class="row test">
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>
                    <div class="col-xs-1 mr-3 mt-3"><div class="test-box"></div></div>


                </div>
    </v-container>
{% endblock %}
{% block script %}
    <script>
        new Vue({
            mixins:[app],
            data:{
            }
        })
    </script>
{% endblock %}
