{% extends "main.html" %}
{% block body_wrap %}
    <v-app v-cloak>
        <v-navigation-drawer :mini-variant.sync="mini"
                             fixed
                             v-model="drawer"
                             app
                             width="200"
        >
            <v-divider></v-divider>
            <v-list dense class="pt-0">
                <v-list-tile v-for="item in items" :key="item.title" @click="" :href="item.href">
                    <v-list-tile-action>
                        <v-icon>${ item.icon }</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            ${ item.title }
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar dark color="primary" class="row middle-xs" app>
            <v-toolbar-side-icon @click="toolbar_btn"></v-toolbar-side-icon>
            <v-toolbar-title class="white--text">打卡系統</v-toolbar-title>
        </v-toolbar>
        <v-content app>
            {% block body %}
            {% endblock %}
        </v-content>


    </v-app>
{% endblock %}
{% block script_wrap %}
    <script>
        window.app = {
            el: '#app',
            data: {
                drawer: null,
                mini: false,
                items: [
                    {title: '打卡', icon: 'gavel',href:'/'},
                    {title: '員工', icon: 'face',href:'/employees'},
                    {title: '上班時間', icon: 'date_range',href:'/work-time'},
                ],
            },
            methods: {
                toolbar_btn(){
                    if (window.innerWidth <= 1264) {
                        this.drawer = !this.drawer
                        this.mini = false
                    } else {
                        this.drawer = true
                        this.mini = !this.mini
                    }
                }
            },
            mounted(){
            }
        }
    </script>
    {% block script %}

    {% endblock %}
{% endblock %}
